<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Dashboard</title>

<body>
<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Raleway:700);
</style>
<header class = "<%= @city %>
  jumbotron">
  <p>
    Change city:
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        City
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% for city in @cities %>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <%= city.name %></a>
        </li>
        <% end %></ul>
    </div>
  </p>
  <p>
    Place of residence:
    <input type = "text" name = "location">
    <input type="submit" name="Submit"></p>
</header>
<div class="main-container">
  <div class="col-sm-9 city">
<%= render 'pages/panel' %>
</div>
<div class="col-sm-3 map">
  <%= render 'pages/map' %>
  <p>Estimated Time:</p>
  <p>Cost:</p>
</div>
</div>


</body>
</html>
